.fetchbtn {
  margin: 20px;
}

.toplogo {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 70px;
  color: #00acee;
}

.logo_{
  width: 70px;
}

.custombtn{
  background-color: #00acee;
  border-color: #00acee;
}

.box{
  align-items: center;
  align-self: auto;
  width: 90%;
  margin-top: 5px;
}