<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <title>Tweetify | Home</title>
</head>

<body>
    <div class="container">
        <br>
        <h2 class="toplogo">Tweetify
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </h2>
        <br><br>
        <form method="post" action="{{ url_for('result') }}">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="key">Keyword</label>
                        <input type="text" class="form-control" id="key" aria-describedby="keyhelp" name="keyword"
                            placeholder="hacking">
                        <small id="keyhelp" class="form-text text-muted">Enter the keyword you want!</small>
                    </div>
                    <div class="form-group">
                        <label for="key" name="keyword">Number</label>
                        <input type="text" class="form-control" id="num" aria-describedby="numhelp" name="number"
                            placeholder="10">
                        <small id="numhelp" class="form-text text-muted">Enter the number of tweets you want!</small>
                    </div>
                    <div class="form-group">
                        <label for="loc" name="keyword">Location</label>
                        <input type="text" class="form-control" id="loc" aria-describedby="lochelp" name="location"
                            placeholder="India">
                        <small id="lochelp" class="form-text text-muted">Enter the location from where you want
                            tweets!</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from" name="keyword">(Optional) Time: from</label>
                        <input type="text" class="form-control" id="from" aria-describedby="fromhelp" name="since"
                            placeholder="YYYY-MM-DD HH:MM:SS">
                        <small id="fromhelp" class="form-text text-muted">Time Interval Start! Format : YYYY-MM-DD
                            HH:MM:SS</small>
                    </div>
                    <div class="form-group">
                        <label for="till" name="keyword">(Optional) Time: Till</label>
                        <input type="text" class="form-control" id="till" aria-describedby="tillhelp" name="till"
                            placeholder="YYYY-MM-DD HH:MM:SS">
                        <small id="tillhelp" class="form-text text-muted">Time Interval End! Format : YYYY-MM-DD
                            HH:MM:SS</small>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Fetch Tweets!</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="../static/index.js"></script>
</body>

</html>